<div id="overview">
    <div class="container">
      <div id="user" class="row">
        <div class="col-md-5 half-border-right right-border">
          <div class="slidein" v-component="{{$data.subview}}" v-transition></div>

          <hr />
          <p>
            <a v-transition v-if="$data.subview === 'wb-user-login'" v-on="click: subview = 'wb-user-register'">
						 Don't have a account? Sign up here!!
						</a>

            <a v-transition v-if="$data.subview === 'wb-user-register'" v-on="click: subview = 'wb-user-login'">
						 Already a user? Login instead!
						</a>
            <br />
          </p>
        </div>

        <div class="col-md-7 half-border-left shadow-left">
          <div class="page-header" style="margin-top: 0px;">
            <h1>Making devices talk</h1>
          </div>

          <p class="lead">
            The complete Tinymesh™ solution is comprised of two powerful components; the Tinymesh™
            Protocol Stack &ndash; embedded in Tinymesh™ Modules &ndash; and Tinymesh™
            Cloud Services, a suite of data handling and internet tools for easy
            integration to web and networked applications.
          </p>
        </div>
      </div>
    </div>
</div>
