.channels li {
	list-style: none;
	}
.channels li .body {
	padding-left: 34px;
 	}

.padded { margin-bottom: 2em; }


.nav.nav-pills > li > a {
	padding: 7px 15px 5px;
	margin: 0px 10px;
	text-transform: uppercase;
	font-size: 0.8em;
	background: transparent;
	border-radius: 0;
}
.nav.nav-pills > li.active > a,
.nav.nav-pills > li.active > a:hover {
	color: #52bad5;
	background-color: transparent;
	font-weight: bold;
	border-bottom: 2px solid #52bad5;
}
.nav.nav-pills > li:first-child {
	background: #eee;
}
.nav.nav-pills > li:first-child > a {
	color: #333;
	font-weight: bold
}

.status {
	text-transform: uppercase;
	font-size: 0.7em;
}

#skipSetupGuide {
	position: absolute;
	top: 25px;
	right: 15px;
	z-index: 5;
}
