/*
 * 404 Not found
 */
.not-found {
	color: white;
	position: relative; }

.not-found .not-found-screen { background-color: #2980b9; padding: 125px 0px 33px 0px; }
.not-found .not-found-container { position: relative; width: 770px; margin: 0 auto 90px; }
.not-found h1 { font-weight: bold; font-size: 4.5em; }
.not-found a { font-weight: bold; color: #fff; text-decoration: underline; cursor: pointer; }

