<div>
  <div class="row">
    <div class="smpl-step" style="border-bottom: none">
      <div class="col-xs-11 smpl-step" style="border-bottom: none">

        <div v-if="$root.$.data.initialSetup" class="col-xs-3 smpl-step-step complete">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><i class="glyphicon glyphicon-user"></i></a>
          <div class="smpl-step-info text-center">Register Tinymesh user</div>
        </div>

        <div
					class="col-xs-3 smpl-step-step"
					v-class="active: !network,complete: network">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><i class="glyphicon glyphicon-home"></i></a>
          <div v-if="$root.$.data.initialSetup" class="smpl-step-info text-center">Create your first network</div>
          <div v-if="!$root.$.data.initialSetup" class="smpl-step-info text-center">Create network</div>
        </div>
        <div class="col-xs-3 smpl-step-step"
					v-class="active: network && !network.hasChannels(),disabled: !network,complete: network && network.hasChannels()">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><i class="glyphicon glyphicon-th-large"></i></a>
          <div class="smpl-step-info text-center">Provision your device</div>
        </div>
        <div class="col-xs-3 smpl-step-step"
					v-class="active: network && network.hasChannels(),disabled: !network || !network.hasChannels()">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <a class="smpl-step-icon"><i class="glyphicon glyphicon-cloud"></i></a>
          <div class="smpl-step-info text-center">Establish connection to device</div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row" v-if="undefined === network">
    <div class="col-xs-8">
      <p class="lead" v-if="$root.$.data.initialSetup">
        Hey {{$root.$.data.user.name || $root.$.data.user.email}}, I see you don't have a network yet. 
				To get you started quickly we started filling out some
				information for you, to finish just fill in the few remaining blanks!
      </p>

      <form name="network" role="form" v-on="submit: createNetwork(newnetwork, $event)">
        <div class="form-group has-feedback" v-class="has-error: errors.newnetworkname">
          <label for="name">Network Name</label>
          <input v-model="newnetwork" v-on="change: errors.newnetworkname = null" type="text"
          class="form-control" id="name" placeholder="Enter Network Name">
          <span v-if="errors.newnetworkname" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span v-if="errors.newnetworkname" id="name" class="sr-only">(error)</span>
          <p v-if="errors.newnetworkname" class="help-block text-right">
            * {{errors.newnetworkname}}
          </p>
        </div>
        <button
					class="btn btn-success"
					type="submit"
					v-on="click: createNetwork(newnetwork, $event)"
					v-attr="disabled: networkPromise"
					v-class="'btn-spinner': networkPromise">

					<span v-wb-spinner="networkPromise"></span>

					<span v-if="networkPromise">Creating Network</span>
					<span v-if="!networkPromise">Create Network</span>
				</button>
      </form>

			<br />
			<p class="mute">
				If you don't have Tinymesh gateway or any Tinymesh radio
				modules yet you should <a href="http://tiny-mesh.com/mesh-network/demokit.html">consider getting some</a> from.
			</p>
    </div>

    <div class="col-xs-4" v-if="$root.$.data.initialSetup">
      <p class="lead">
        What is a network?
      </p>
      <p>
				Networks separates different applications. You might have a
				network at home and a different one in the office. Each
				network consists of one or more gateway units that communicate
				with your Tinymesh network.
			</p>
    </div>
  </div>

  <div class="row" v-if="network && !network.hasChannels()">
    <div class="col-xs-8">
      <form
				name="channel"
				role="form"
				v-on="submit: createChannel($event)">

        <div class="form-group has-feedback" v-class="has-error: errors.channelname">
          <label for="name">Channel Name</label>
          <input v-model="channelname" v-on="change: errors.channelname = undefined" type="text"
          class="form-control" id="name" placeholder="Channel name (ie \GPRS Gateway' or 'USB stick')">
          <span v-if="errors.channelname" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span v-if="errors.channelname" id="name" class="sr-only">(error)</span>
          <p v-if="errors.channelname" class="help-block text-right">
            * {{errors.channelname}}
          </p>
        </div>

        <div class="form-group has-feedback" v-class="has-error: errors.uid">
          <label for="name">Gateway UID</label>
          <input v-model="channeluid" v-on="change: errors.uid = undefined" type="text" class="form-control"
          id="uid" placeholder="Channel UID" />
          <span v-if="errors.uid" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span v-if="errors.uid" id="name" class="sr-only">(error)</span>
          <p v-if="errors.uid" class="help-block text-right">
            * {{errors.uid}}
          </p>
          <p class="help-block">
            The address can either be specified as a single 32-bit integer (<code>19552</code>),
            a dotted decimal representation (
            <code>1.0.0.0</code>) or a colon separated hex address (
            <code>01:0:0:0</code>).
            <br />If you don't know the gateway UID, use <code>1</code>.
            <br />
            <i>Note: The addresses are encoded with little endian, information
						here has same representation as in the Tinymesh configuration memory</i>
          </p>
        </div>

        <button
					class="btn btn-success"
					type="submit"
					v-on="click: createChannel($event)"
					v-attr="disabled: channelPromise"
					v-class="'btn-spinner': channelPromise">

					<span v-wb-spinner="channelPromise"></span>

					<span v-if="channelPromise">Creating Channel</span>
					<span v-if="!channelPromise">Create Channel</span>
				</button>
      </form>
    </div>

    <div class="col-xs-4" v-if="$root.$.data.initialSetup">
      <p class="lead">
        What are Channels and Network connectors?
      </p>
      <p>
				The device connecting your Tinymesh gateway to the cloud is
				called a Network Connector. It opens a connection that acts
				as a Data Channel (or just Channel for short). Once a Channel
				have been established the Tinymesh Gateway and the Cloud
				service can exchange data over the connection.
			</p>
    </div>
  </div>

  <div v-if="network && network.hasChannels()" class="row">
    <div class="col-xs-12">
      <h3>Your almost done, we only need some slight configuration</h3>

      <p class="lead">
        The last piece of the puzzle is configuring your gateway to connect to the Tiny
        Mesh Cloud
      </p>

      <h4>Configuring the device</h4>
      <p>
        The initial device configuration is done through the serial port of gateway device.

        <ul>
          <li>Connect your device</li>
          <li>Enter configuration mode by pressing the <code>Config</code> button (both
            LED's on the board should now light up permanently</li>
          <li>Through your favourite terminal emulator send the ASCII character <code>G</code> to
            enable gateway mode</li>
          <li>Enter configuration memory by sending the characters <code>HW</code>
          </li>
          <li>Send two hex bytes <code>0x03</code> and <code>0x00</code> to enable protocol
            mode
          </li>
          <li>
            Set the UID of the device by sending the hex bytes
            <code>0x2D</code>
            <code>0x{{chanuidbytes[3]}}</code>
            <code>0x2E</code>
            <code>0x{{chanuidbytes[2]}}</code>
            <code>0x2F</code>
            <code>0x{{chanuidbytes[1]}}</code>
            <code>0x30</code>
            <code>0x{{chanuidbytes[0]}}</code>
          </li>
          <li>Exit configuration memory by send hex byte <code>0xFF</code>
          </li>
          <li>Enter calibration memory by sending ASCII characters <code>HW</code>
          </li>
          <li>
            Set the UID of the device by sending the hex bytes
            <code>0x17</code>
            <code>0x{{nidbytes[0]}}</code>
            <code>0x18</code>
            <code>0x{{nidbytes[1]}}</code>
            <code>0x19</code>
            <code>0x{{nidbytes[2]}}</code>
            <code>0x1A</code>
            <code>0x{{nidbytes[3]}}</code>
          </li>
          <li>Exit calibration memory by send hex byte <code>0xFF</code>
          </li>
          <li>Exit configuration mode by send ASCII character <code>X</code>
          </li>
        </ul>
      </p>

      <h3>Setup Network Connector software</h3>
      <p>
        <b>Windows</b>
        <ul>
          <li>Download and install <a href="https://cloud.tiny-mesh.com/tm-connect-webkit-0.1.0.exe">Tinymesh Connect</a>
          </li>
          <li>Run the <code>TM-Connect</code> executable found on your desktop</li>
          <li>Select the COM port used by the Tiny Mesh Gateway</li>
          <li>The software will automatically connect</li>
        </ul>
      </p>
      <p>
        <b>Mac OS</b>
        <ul>
          <li>Install brew through <a href="http://brew.sh/">Homebrew</a>
          </li>
          <li>Install <code>python</code> with pip: <code>brew install python</code>
          </li>
          <li>Install python dependencies: <code>pip install pyserial Twisted zope.interface</code>
          </li>
          <li>Download <a href="https://raw.githubusercontent.com/tinymesh/guri/master/guri.py">guri.py</a>
          </li>
          <li>Run guri <code>python2 guri.py [TTY]  -vvvv /dev/ttyUSB0 31.169.50.34 </code>
          </li>
        </ul>
      </p>
      <p>
        <b>Linux</b>
        <ul>
          <li>Install <code>python</code> with pip through your package manager</li>
          <li>Install python dependencies: <code>pip install pyserial Twisted zope.interface</code>
          </li>
          <li>Download <a href="https://raw.githubusercontent.com/tinymesh/guri/master/guri.py">guri.py</a>
          </li>
          <li>Run guri <code>python2 guri.py /dev/ttyUSB0 -vvvv /dev/ttyUSB0 31.169.50.34 </code>
          </li>
        </ul>
      </p>
    </div>
  </div>


</div>
