		<div class="container">
				<div id="user" class="row">
					<div class="col-md-5 half-border-right right-border">
						<div class="slidein" v-component="{{$data.subview}}" v-transition></div>

						<hr />
						<p>
						<a
							 v-transition
							 v-if="$data.subview === 'user-login'"
							 v-on="click: $data.subview = 'user-register'">
						 Don't have a account? Sign up here!!
						</a>

						<a
							 v-transition
							 v-if="subview === 'user-register'"
							 v-on="click: subview = 'user-login'">
						 Already a user? Login instead!
						</a>
						<br />
						</p>
					</div>

					<div class="col-md-7 half-border-left shadow-left">
						<div class="page-header" style="margin-top: 0px;">
							<h1>Have a minute?</h1>
						</div>

						<p class="lead">
							Did you like it? If you have a minute we would love to
							get feedback from your on how you use our product and
							how you would like to see it improved in the future.
						</p>
						<p>
							We take great pride in the products we make and with
							your feedback we can make them even greater!
						</p>
						<a
							href="http://www.tiny-mesh.no/mesh-network/contact.html"
							class="btn btn-primary">Send us feedback!</a>
					</div>
				</div>
		</div>
