<div>
	<div v-if="!authenticated" id="overview">
		<div class="container">
				<div id="user" class="row">
					<div class="col-md-5 half-border-right right-border">
						<div class="slidein" v-component="{{view}}" v-transition></div>

						<hr />
						<p>
						<a
							 v-transition
							 v-if="view === 'user-login'"
							 v-on="click: view = 'user-lregister'">
						 Don't have a account? Sign up here!!
						</a>

						<a
							 v-transition
							 v-if="view === 'user-register'"
							 v-on="click: view = 'user-login'">
						 Already a user? Login instead!
						</a>
						<br />
						</p>
					</div>

					<div class="col-md-7 half-border-left shadow-left">
						<div class="page-header" style="margin-top: 0px;">
							<h1>Making devices talk</h1>
						</div>

						<p class="lead">
							The complete Tinymesh™ solution is comprised of two
							powerful components; the Tinymesh™ Protocol Stack &ndash;
							embedded in Tinymesh™ Modules &ndash; and Tinymesh™
							Cloud Services, a suite of data handling and internet
							tools for easy integration to web and networked applications.
						</p>
					</div>
				</div>
		</div>
	</div>

	<div v-if="auth" v-component="{{view}}">
	</div>
</div>
