<div>
		<nav class="navbar" role="navigation">
			<div class="container">
				<div class="navbar-header col-xs-2">
						<a href="./index.html" class="navbar-brand">Tiny Mesh Cloud</a>
				</div>
				<nav class="col-xs-10" role="navigation">
					<ul class="nav main navbar-nav">
						<li class="active"><a href="#/dashboard">Getting Started</a></li>
						<li><a href="https://lafka.github.com/tm-api-docs/v1/">Docs</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li v-if="authenticated"><a href="#/user/logout">Logout</a></li>
						<!--
						<li><a href="#login">Login</a></li>
						<li><a href="#register">Sign Up</a></li>
						<li><a href="http://tiny-mesh.com">tiny-mesh.com</a></li>
						-->
					</ul>
				</nav>
			</div>
		</nav>

	<div v-if="flash" class="alert alert-{{flashClass}}">
		<div class="container">
			{{flash}}
		</div>
	</div>

	<div v-if="authenticated" v-component="{{view}}">
	</div>

	<div v-if="!authenticated" id="overview">
		<div class="container">
				<div id="user" class="row">
					<div class="col-md-5 half-border-right right-border">
						<div class="slidein" v-component="{{view}}" v-transition></div>

						<hr />
						<p>
						<a
							 v-transition
							 v-if="view === 'user-login'"
							 v-on="click: view = 'user-register'">
						 Don't have a account? Sign up here!!
						</a>

						<a
							 v-transition
							 v-if="view === 'user-register'"
							 v-on="click: view = 'user-login'">
						 Already a user? Login instead!
						</a>
						<br />
						</p>
					</div>

					<div class="col-md-7 half-border-left shadow-left">
						<div class="page-header" style="margin-top: 0px;">
							<h1>Making devices talk</h1>
						</div>

						<p class="lead">
							The complete Tinymesh™ solution is comprised of two
							powerful components; the Tinymesh™ Protocol Stack &ndash;
							embedded in Tinymesh™ Modules &ndash; and Tinymesh™
							Cloud Services, a suite of data handling and internet
							tools for easy integration to web and networked applications.
						</p>
					</div>
				</div>
		</div>
	</div>
</div>
