<div>
	<div v-component="wb-data" v-ref="data"></div>
	<div v-component="wb-auth" v-ref="auth"></div>
	<div v-component="wb-navigation" v-ref="navigation"></div>
	<div v-component="wb-notify" v-ref="notify" id="notify"></div>
	<script type="x-template" id="notifytpl">
		<div v-if="messages.length > 0">
			<div v-attr="'class': 'alert alert-dismissible alert-' + (messages[0].cssclass || 'warning')">
				<div class="container">
					<button type="button" class="close" v-on="click: messages.shift()"><span>&times;</span></button>
					<span class="capitalize bold">{{messages[0].cssclass || "warning"}}:</span>
					<span class="notification">{{messages[0].message}}</span>
					<span v-if="messages.length > 1"class="label label-info">
						{{messages.length - 1}} more
					</span>
				</div>
			</div>
		</div>
	</script>


  <div v-component="{{$root.view}}">
		<div class="container">
			<h1>Loading</h1>
		</div>
	</div>

</div>
